<%- include ('partials/header__takeQ') -%>
<h1 class="text-center pt-3"><a href="/home">Quiz App</a></h1>
<h1 class="text-center pt-5">Quiz</h1>
<% quiz.forEach(function(q, quizIndex) { %>
    <section>
        <form action="/submitQuiz/<%= q._id %>" method="POST" class="container">
            <div class="cards"  style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title"><%= q.title %></h2>
                    <% q.questions.forEach(function(question, questionIndex) { %>
                        <p class="card-text"><%= question.text %></p>
                        <% question.options.forEach(function(option, optionIndex) { %>
                            <div class="form-check">
                                <label>
                                    <input type="radio" name="answer<%= questionIndex %>" value="<%= option.text %>" required>
                                    <%= option.text %>
                                </label>
                            </div>
                            
                        <% }) %>
                    <% }) %>
                </div>
            </div>
            <input type="hidden" name="quizId" value="<%= q._id %>"> <!-- Add hidden input for quiz ID -->
            <button type="submit" class="btn btn-primary mx-2">Submit Quiz</button>
        </form>
    </section>
    
<% }) %>
<%- include ('partials/footer__takeQ') -%>

